body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    min-width: 320px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
} 


/* ========== Header ========== */

@media (max-width: 640px) {
    .container_header {
        width: 100%;
        max-width: 280px;
        margin: 0px auto;
        position: relative;
        z-index: 1;
    }
    
    .header {
        padding: 30px 0 84px 0;
        position: relative;
        background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_1920.jpg);
        background-color: #0a0e34;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .header:after {
        content: "";
        opacity: 0.88;
        background-color: #0a0e34;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .header__logo {
        width: 135px;
        height: auto;
        fill: #ffffff;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    
    .header__title__text {
        font-size: 28px;
        color: #fff;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        margin-top: 180px;
        margin-bottom: 130px;
    }
    
    .header__title__text__right {
        display: flex;
        flex-wrap: wrap;
        padding-left: 45px;
    }
    
    .header__btns {
        display: flex;
        flex-wrap: wrap;
    }
    
    .header_btn {
        width: 280px;
        height: 35px;
        border: 0;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #5e42b0;
        
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        fill: #ffffff;
        color: #fff;
    }
    
    .header_btn:last-child {
        margin-top: 15px;
    }
    
    .device_icon {
        width: 20px;
    }
    
    .btn_text {
        font-size: 8px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        text-transform: uppercase;
        margin-left: 7px;
    }
    
    .bold {
        font-weight: 700;
        padding-top: 3px;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    .container_header {
        width: 100%;
        max-width: 704px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }
    
    .header {
        padding: 45px 0 110px 0;
        position: relative;
        background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_1920.jpg);
        background-color: #0a0e34;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .header:after {
        content: "";
        opacity: 0.88;
        background-color: #0a0e34;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .header__logo {
        fill: #ffffff;
        display: flex;
        justify-content: center;
    }
    
    .header__title__text {
        font-size: 64px;
        color: #fff;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        margin: 0 20px;
        margin-top: 180px;
        margin-bottom: 220px;
    }
    
    .header__title__text__right {
        display: flex;
        justify-content: flex-end;
        padding-left: 110px;
    }
    
    .header__btns {
        display: flex;
        justify-content: center;
        
    }
    
    .header_btn {
        width: 310px;
        height: 77px;
        border: 0;
        padding-left: 42px;
        padding-right: 42px;
        background-color: #5e42b0;
        box-sizing: border-box;
        
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        fill: #ffffff;
        color: #fff;
    }
    
    .header_btn:last-child {
        margin-left: 30px;
    }
    
    .device_icon {
        width: 44px;
    }
    
    .btn_text {
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 27px;
        text-transform: uppercase;
    }
    
    .bold {
        font-weight: 700;
        padding-top: 3px;
    }
}

@media (min-width: 961px) {
    .container_header {
        width: 100%;
        max-width: 1560px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }
    
    .header {
        padding: 45px 0 110px 0;
        position: relative;
        background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_1920.jpg);
        background-size: cover;
        background-color: #0a0e34;
    }
    
    .header:after {
        content: "";
        opacity: 0.88;
        background-color: #0a0e34;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .header__logo {
        fill: #ffffff;
        display: flex;
        justify-content: center;
    }
    
    .header__title__text {
        font-size: 100px;
        width: 100%;
        justify-content: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        margin-top: 180px;
        margin-bottom: 220px;
        padding-left: 80px;
        padding-right: 80px;
    }
    
    .header__title__text__right {
        display: flex;
        justify-content: flex-end;
        padding-left: 180px;
    }
    
    .header__btns {
        display: flex;
        justify-content: center;
    }
    
    .header_btn {
        width: 310px;
        height: 77px;
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #5e42b0;
        box-sizing: border-box;
        font-size: 16px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        fill: #ffffff;
        color: #fff;
    }
    
    .header_btn:last-child {
        margin-left: 50px;
    }
    
    .device_icon {
        width: 50px;
    }
    
    .btn_text {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 25px;
        text-transform: uppercase;
    }
    
    .bold {
        font-weight: 700;
        padding-top: 3px;
    }
}


/* ========== Main ========== */


@media (max-width: 640px) {
    .container_main_right {
        width: 100%;
        max-width: 280px;
        margin: 0px auto;
        position: relative;
        z-index: 1;
    }
    
    .container_main_left {
        width: 100%;
        max-width: 280px;
        margin: 0px auto;
        position: relative;
        z-index: 1;
    }
    
    .container {
        width: 100%;
        
        margin-top: 85px;
        margin-bottom: 85px;
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        z-index: 1;
    }
    
    
    .title__main {
        text-transform: uppercase;
        font-size: 50px;
        margin-bottom: 20px;
        color: #e7e7e7;
    }
    
    .athlets_640 {
        width: 190px;
        
        display: block;
        margin: 0 auto -40px;
    }
    
   
    
    .description__section {
        margin-bottom: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .number__description {
        font-weight: 700;
        font-size: 14px;
    }
    
    .number__description:after {
        content: "";
        display: block;
        width: 16px;
        height: 4px;
        border-radius: 20%;
        background-color: #5e42b0;
    }
    
    .number__description__black {
        font-weight: 700;
        font-size: 14px;
        color: #000000;
    }
    
    .number__description__black:after {
        content: "";
        display: block;
        width: 16px;
        height: 4px;
        border-radius: 20%;
        background-color: #ffffff;
    }
    
    .number__description__white {
        font-weight: 700;
        font-size: 14px;
        color: #ffffff;
    }
    
    .number__description__white:after {
        content: "";
        display: block;
        width: 15px;
        height: 4px;
        border-radius: 10%;
        background-color: #8f7bc8;
        margin-top: 2px;
    }
    
    .title__description {
        text-transform: uppercase;
        font-size: 23px;
        color: #e7e7e7;
        margin-left: 10px;
    }
    
    .title__description__gray {
        color: #c1c1c1;
        text-transform: uppercase;
        font-size: 23px;
        margin-left: 10px;
    }
    
    .text_body {
        font-size: 15px;
        padding-right: 15px;
    }
    
    .text_body_white {
        font-size: 15px;
        padding-right: 20px;
        color: #dedbed;
    }
    
    .white {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .gray__middle {
        width: 100%;
        background-color: #fafafa;
        padding: 50px 0;
    }
    
    .gray {
        background-color: #f5f4f9;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .violet {
        background-color: #5e42b0;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .player {
        width: 300px;
        margin-left: -10px;
        margin: 0 auto -60px;
    }
    
    .blue {
        background-color: #090c35;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .number__description__violet {
        font-weight: 700;
        font-size: 14px;
        color: #8765dd;
    }
    
    .number__description__violet:after {
        content: "";
        display: block;
        width: 15px;
        height: 4px;
        border-radius: 10%;
        background-color: #ffffff;
        margin-top: 2px;
    }
    
    .with_image {
        display: block;
    }
    
    .with_image_bg {
        margin: 0;
        width: 100%;
        
    }
    
    .square {
        width: 70px;
        height: 70px;
        background-color: #5e42b0;
        margin-top: -60px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title__main__with__image {
        text-transform: uppercase;
        font-size: 50px;
        margin-bottom: 30px;
        color: #e7e7e7;
    }
    
    .text__description {
        font-size: 18px;
        padding-right: 20px;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    
    .main {
        overflow: hidden;
    }
    
    .container_main_right {
        width: 100%;
        max-width: 455px;
        margin: 0 45px 0 290px;
        position: relative;
        z-index: 1;
    }
    
    .athlets_641 {
        position: absolute;
        left: -450px;
        top: 3;
    }
    
    .container_main_left {
        width: 100%;
        max-width: 455px;
        margin: 0 340px 0 30px;
        max-width: 390px;
        
        position: relative;
    }
    
    .title__main {
        text-transform: uppercase;
        font-size: 80px;
        color: #e7e7e7;
        margin-top: 25px;
       
    }
    
    .description__section {
        margin-bottom: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .number__description {
        font-weight: 700;
        font-size: 18px;
    }
    
    .number__description:after {
        content: "";
        display: block;
        width: 21px;
        height: 4px;
        border-radius: 20%;
        background-color: #5e42b0;
    }
    
    .number__description__black {
        font-weight: 700;
        font-size: 18px;
        color: #000000;
    }
    
    .number__description__black:after {
        content: "";
        display: block;
        width: 21px;
        height: 4px;
        border-radius: 20%;
        background-color: #ffffff;
    }
    
    .number__description__white {
        font-weight: 700;
        font-size: 24px;
        color: #ffffff;
    }
    
    .number__description__white:after {
        content: "";
        display: block;
        width: 25px;
        height: 4px;
        border-radius: 10%;
        background-color: #8f7bc8;
        margin-top: 2px;
    }
    
    .title__description {
        text-transform: uppercase;
        font-size: 32px;
        color: #e7e7e7;
        margin-left: 10px;
    }
    
    .title__description__gray {
        color: #c1c1c1;
        text-transform: uppercase;
        font-size: 32px;
        margin-left: 10px;
    }
    
    .text_body {
        font-size: 16px;
        padding-right: 15px;
        line-height: 170%;
    }
    
    .text_body_white {
        font-size: 16px;
        padding-right: 20px;
        color: #dedbed;
        line-height: 170%;
    }
    
    .white {
        padding-top: 25px;
    }
    
    .gray__middle {
        width: 100%;
        background-color: #fafafa;
        padding: 50px 0;
        
    }
    
    .gray {
        background-color: #f5f4f9;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .violet {
        background-color: #5e42b0;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .player {
        
        height: 480px;
        top: 15px;
        right: -130%;
        
        position: absolute;
    }
    
    .blue {
        background-color: #090c35;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .number__description__violet {
        font-weight: 700;
        font-size: 14px;
        color: #8765dd;
    }
    
    .number__description__violet:after {
        content: "";
        display: block;
        width: 15px;
        height: 4px;
        border-radius: 10%;
        background-color: #ffffff;
        margin-top: 2px;
    }
    
    .with_image {
        display: block;
    }
    
    .with_image_bg {
        margin: 0;
        width: 100%;
        
    }
    
    .container {
        width: 100%;
        max-width: 650px;
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
       
    }
    
    .square {
        width: 115px;
        height: 115px;
        background-color: #5e42b0;
        margin-top: -80px;
        margin-left: 30px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .square_left {
        width: 115px;
        height: 115px;
        background-color: #5e42b0;
        margin-top: -80px;
        margin-left: 30px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title__main__with__image {
        text-transform: uppercase;
        font-size: 80px;
        margin-bottom: 25px;
        color: #e7e7e7;
        margin-top: 50px;
    }
    
    .text__description {
        font-size: 24px;
        padding-right: 30px;
        margin-bottom: 100px;
    }
}

@media (min-width: 961px) {
    
    .main {
        overflow: hidden;
    }
    
    .container_main_right {
        
        max-width: 700px;
        margin-left: 50%;
        margin-right: 18.5%;
        position: relative;
        z-index: 1;
    }
    
    .athlets_641 {
        position: absolute;
        left: -700px;
        top: 0;
    }
    
    
    .title__main {
        text-transform: uppercase;
        font-size: 80px;
        margin-bottom: 20px;
        color: #e7e7e7;  
    }
    
    .description__section {
        margin-bottom: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .number__description {
        font-weight: 700;
        font-size: 18px;
    }
    
    .number__description:after {
        content: "";
        display: block;
        width: 20px;
        height: 4px;
        border-radius: 20%;
        background-color: #5e42b0;
    }
    
    .number__description__black {
        font-weight: 700;
        font-size: 18px;
        color: #000000;
    }
    
    .number__description__black:after {
        content: "";
        display: block;
        width: 20px;
        height: 4px;
        border-radius: 20%;
        background-color: #ffffff;
    }
    
    .number__description__white {
        font-weight: 700;
        font-size: 24px;
        color: #ffffff;
    }
    
    .number__description__white:after {
        content: "";
        display: block;
        width: 25px;
        height: 4px;
        border-radius: 10%;
        background-color: #8f7bc8;
        margin-top: 2px;
    }
    
    .title__description {
        text-transform: uppercase;
        font-size: 36px;
        color: #e7e7e7;
        margin-left: 10px;
    }
    
    .title__description__gray {
        color: #c1c1c1;
        text-transform: uppercase;
        font-size: 36px;
        margin-left: 10px;
    }
    
    .text_body {
        font-size: 20px;
        padding-right: 15px;
        line-height: 170%;
    }
    
    .text_body_white {
        font-size: 16px;
        padding-right: 20px;
        color: #dedbed;
        line-height: 170%;
    }
    
    .white {
        padding-top: 25px;
        
    }
    
    .gray__middle {
        width: 100%;
        background-color: #fafafa;
        padding: 50px 0;
    }
    
    .gray {
        background-color: #f5f4f9;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .violet {
        background-color: #5e42b0;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .container_main_left {
        
        position: relative;
        margin-left: 18.5%;
        margin-right: 50%;
        max-width: 700px;
        
    }
    
    .player {
        left: 75%;
        top: -50%;
        
        
        position: absolute;
    }
    
    .blue {
        background-color: #090c35;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .number__description__violet {
        font-weight: 700;
        font-size: 14px;
        color: #8765dd;
    }
    
    .number__description__violet:after {
        content: "";
        display: block;
        width: 15px;
        height: 4px;
        border-radius: 10%;
        background-color: #ffffff;
        margin-top: 2px;
    }
    
    .chess {
        display: flex;
        flex-wrap: wrap;
    }
    
    .inner_chess_row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .inner_chess_row_reverse {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        width: 100%;
    }
    
    .inner_chess {
        display: flex;
        width: 50%;
        
        position: relative;
        background-color: #ffffff;
        justify-content: center;
        align-items: center;
    }
    
    .inner_chess_img {

        width: 100%;
        
    }
    
    .container {
        width: 100%;
        max-width: 650px;
        margin: 0 auto;
        padding-left: 70px;
        
        
       
    }
    
    .title__main__with__image {
        text-transform: uppercase;
        font-size: 77px;
        margin-bottom: 25px;
        color: #e7e7e7;
    }
    
    .square {
        width: 115px;
        height: 115px;
        background-color: #5e42b0;
        
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        
        z-index: 2;
        top: 38%;
        right: -57px;
    }
    
    .square_left {
        width: 115px;
        height: 115px;
        background-color: #5e42b0;
        
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        
        z-index: 2;
        top: 38%;
        right: 94%;
    }
    
    .text__description {
        font-size: 24px;
        padding-right: 30px;
    }
    
    
}



/* ========== Footer ========== */


@media (max-width: 640px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 10px;
        position: relative;
        background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/game_767.jpg);
        background-color: #0a0e34;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 25px;
    }
    
    .footer:after {
        content: "";
        opacity: 0.88;
        background-color: #0a0e34;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .container_footer {
        width: 100%;
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 1;
    }
    
    .footer_square {
        width: 72px;
        height: 72px;
        border: 0;
        background-color: #5e42b0;
        
        border-radius: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        fill: #ffffff;
        margin: auto;
    }
    
    .footer__inherit {
        margin-bottom: 130px;
    }
    
    .footer__title {
        display: flex;
        flex-direction: column;
        margin-top: 55px;
    }
    
    .footer__title__text {
        font-size: 32px;
        color: #ffffff;
        
        text-transform: uppercase;
    }
    
    .footer__title__text__buttom {
        font-size: 14px;
        text-transform: uppercase;
        color: #9b8ec1;
    }
    
    .footer__btns {
        display: flex;
        flex-wrap: wrap;
    }
    
    .footer_btn {
        width: 280px;
        height: 35px;
        border: 0;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #5e42b0;
        
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        fill: #ffffff;
        color: #fff;
    }
    
    .footer_btn:last-child {
        margin-top: 15px;
    }
    
    .footer__logo {
        width: 135px;
        height: auto;
        fill: #ffffff;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 20px;
        position: relative;
        background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/game_767.jpg);
        background-color: #0a0e34;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 25px;
    }
    
    .footer:after {
        content: "";
        opacity: 0.88;
        background-color: #0a0e34;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .container_footer {
        width: 100%;
        max-width: 704px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }
    
    
    .footer_square {
        width: 130px;
        height: 130px;
        border: 0;
        background-color: #5e42b0;
        
        border-radius: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: #ffffff;
        margin: auto;
    }
    
    .footer__inherit {
        margin-bottom: 280px;
    }
    
    .footer__title {
        display: flex;
        flex-direction: column;
        margin-top: 55px;
    }
    
    .footer__title__text {
        font-size: 76px;
        color: #ffffff;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
    }
    
    .footer__title__text__buttom {
        font-size: 34px;
        text-transform: uppercase;
        color: #9b8ec1;
        
        margin-left: auto;
        margin-right: auto;
    }
    
    .footer__btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .footer_btn {
        width: 300px;
        height: 80px;
        border: 0;
        padding-left: 50px;
        padding-right: 50px;
        background-color: #5e42b0;
        
        
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        fill: #ffffff;
        color: #fff;
    }
    
    .footer_btn:last-child {
        margin-left: 35px;
    }
    
    .footer__logo {
        width: 212px;
        height: auto;
        fill: #ffffff;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
}

@media (min-width: 961px) {
    
    .footer {
        padding-top: 100px;
        padding-bottom: 20px;
        position: relative;
        background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/game_1280.jpg);
        background-color: #0a0e34;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .footer:after {
        content: "";
        opacity: 0.88;
        background-color: #0a0e34;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .container_footer {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }
    
    .footer__inherit {
        display: flex;
        align-items: center;
        justify-content: center;
        
        margin-bottom: 160px;
    }
    
    .footer_square {
        min-width: 130px;
        height: 130px;
        border: 0;
        background-color: #5e42b0;
        
        border-radius: 20%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        fill: #ffffff;
        
        
    }
    
    .footer__title {
        display: flex;
        flex-direction: column;
        
        margin-left: 40px;
    }
    
    .footer__title__text {
        min-width: 715px;
        font-size: 80px;
        color: #ffffff;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
    }
    
    .footer__title__text__buttom {
        font-size: 30px;
        text-transform: uppercase;
        color: #9b8ec1;
    }
    
    .footer__btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .footer_btn {
        width: 315px;
        height: 80px;
        border: 0;
        padding-left: 50px;
        padding-right: 50px;
        background-color: #5e42b0;
        
        
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        fill: #ffffff;
        color: #fff;
    }
    
    .footer_btn:last-child {
        margin-left: 35px;
    }
    
    .footer__logo {
        width: 212px;
        height: auto;
        fill: #ffffff;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 250px;
    }
    
}
















 